body {
    background-color: rgb(185, 216, 241);
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: 'poppins';
}

g {
    overflow: hidden;
    visibility: hidden;
}

svg {
    width: 40vw;
    overflow: visible;

}

.reveal {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(9, 9, 9);
}