@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Nimbus Sans-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NimbusSans-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Nimbus Sans-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NimbusSanL-Reg.otf") format("opentype");
}
@font-face {
  font-family: "Nimbus Sans Extd-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/URW++ - NimbusSanExt-Bol.otf") format("opentype");
}
@font-face {
  font-family: "Nimbus Sans Extd-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/URW++ - NimbusSanExt-Reg.otf") format("opentype");
}


* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Nimbus Sans Extd-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6013d70f2a82d9aa4143b889/fonts/urw-nimbussanext-bol.otf")
    format("opentype");
}

@font-face {
  font-family: "Nimbus Sans Extd-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6013d70f2a82d9aa4143b889/fonts/urw-nimbussanext-reg.otf")
    format("opentype");
}

@font-face {
  font-family: "Nimbus Sans-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/5fcf6917a68d037eb34f96cf/files/nimbussanl-reg.otf")
    format("opentype");
}

@font-face {
  font-family: "Nimbus Sans-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/5ff6362a36314a09fc9e5383/fonts/nimbussans-bold.otf")
    format("opentype");
}

