:root {
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
    --alto: #d9d9d926;
    --black: #000000;
    --celeste: hsl(0, 2%, 80%);
    --swiss-coffee: #e0d7d7;
    --white: #ffffff;
    --white-2: #ffffffe6;

    --font-size-l: 24px;
    --font-size-m: 20px;
    --font-size-s: 16px;
    --font-size-xl: 32px;
    --font-size-xs: 15px;
    --font-size-xxl: 36px;
    --font-size-xxxl: 195px;

    --font-family-nimbus_sans-bold: "nimbus-sans", Helvetica;
    --font-family-nimbus_sans-regular: "nimbus-sans", Helvetica;
    --font-family-nimbus_sans_extd-bold: "nimbus-sans-extended", Helvetica;
    --font-family-nimbus_sans_extd-regular: "nimbus-sans-extended", Helvetica;
  }
  .nimbussansextd-regular-normal-swiss-coffee-20px {
    color: var(--swiss-coffee);
    font-family: var(--font-family-nimbus_sans_extd-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }

  .nimbussans-regular-normal-white-20px {
    color: var(--white-2);
    font-family: var(--font-family-nimbus_sans-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }

  .nimbussansextd-regular-normal-white-20px {
    color: var(--white);
    font-family: var(--font-family-nimbus_sans_extd-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }

  .nimbussansextd-regular-normal-swiss-coffee-36px {
    color: var(--swiss-coffee);
    font-family: var(--font-family-nimbus_sans_extd-bold);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
  }
