body {
  background-color: #181818;
  background: linear-gradient(180deg, #262626 0%, rgba(216, 216, 216, 0.66) 67.5%, #434343 100%); 
  color: var(--white);
  font-family: var(--font-family-nimbus_sans-regular);
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;

    ul {
      display: flex;
      gap: 1rem;
    }
}

.nav-item a {
  color: var(--white);
  font-family: var(--font-family-nimbus_sans-regular);
  font-size: var(--size-16);
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}

.nav-item a:hover {
  opacity: 0.5;
  border-bottom: 2px solid var(--white);
}

h2 {
  font-family: var(--font-family-nimbus_sans_extd-bold);
  font-size: var(--font-size-l);
  padding: 0 0 1rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* this is where section separation happens */
  margin: 35vh 1rem; 
  /* -- */
  padding: 2rem 0;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-left: 0;
  border-right: 0;
  border-image-source: linear-gradient(to left, transparent, rgba( 255,255,255,0.3 ), transparent);
}

section.upcoming {  
  h3 {
    margin-bottom: 2rem;
  }
}

section.aside {
  border: 0;
  font-family: var(--font-family-nimbus_sans-regular);
  font-size: var(--font-size-m);
  line-height: 1.5;
  font-weight: 100;
  text-align: right;
  max-width: 45vw;
  margin-left: auto;
  margin-bottom: 15vh;
}

section.about {
  border: 0;
  margin-top: 0;
}

section.links {
  border: 0
}

.button {
  cursor: pointer;
  display: flex;
  outline: none;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  padding: 0.6em 2em;
  background-color: #3b3a3a;
  border-radius: 5px;
  border: 1px solid #cccaca8f;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--black);
}

.single-event {
  padding-bottom: 1rem;
}

.event-date {
  font-size: var(--font-size-m);
  padding-bottom: 0.25rem;
}

.event-description {
  font-size: var(--font-size-s);
}

.section-logo img {
  min-width: 156px;
}

.about-body {
  font-size: var(--font-size-m);
  line-height: 1.5;
  margin-top: 2rem;

  b {
    font-weight: 900;
    display: block;
    padding-top: 2rem;
  }
}

.links {
  ol {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
  }
  
  li {
    border-bottom: 3px solid white;
    padding: 1rem 0 0.9rem;
    
    a {
      color: var(--white);
      font-size: var(--font-size-m);
      transition: letter-spacing 0.15s ease-in-out;
    }
  }

  li:first-of-type {
    border-top: 3px solid white;
  }

  li:hover {
    a {
      letter-spacing: 0.1em;
    }
  }
}

footer {
  display: flex;
  padding: 3rem 0;
  margin: 0 1rem;
  justify-content: space-between;
}

.blob-bg {
  position: absolute;
  z-index: -1;
}

.blob-bg.small {
  top: 450px;
  right: -20%;
  animation: blobSpin 100s linear infinite;
}

@keyframes blobSpin { 
  100% { 
    -webkit-transform: rotate(360deg); transform: rotate(360deg); 
  } 
}

.blob-bg.big {
  top: 540px;
  left: -30%;
  opacity: 0.6;

  img {
    max-height: 230vh;
  }
}