/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: transparent;
} */

body {

  /*background: linear-gradient(180deg, #141414 0%, #060606 100%);*/
  color: var(--white);
  font-family: var(--font-family-nimbus_sans-regular);
  font-size: 16px;
  max-width: 100%;
}


main {
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0;
  z-index: 1;
  position: relative;

    ul {
      display: flex;
      gap: 1rem;
    }
}

.video-bg {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
}

.title {
  display: none;
}

.nav-item a {
  color: var(--white);
  font-family: var(--font-family-nimbus_sans-regular);
  font-size: var(--size-16);
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}

.nav-item a:hover {
  opacity: 0.5;
  border-bottom: 2px solid var(--white);
}

h2 {
  font-family: var(--font-family-nimbus_sans_extd-bold);
  font-size: var(--font-size-l);
  padding: 0 0 1rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* this is where section separation happens */
  margin: 30vh 1rem;
  /* -- */
  padding: 2rem 0;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-left: 0;
  border-right: 0;
  border-image-source: linear-gradient(to left, transparent, rgba( 255,255,255,0.3 ), transparent);
}

section.upcoming {
  h3 {
    margin-bottom: 2rem;
  }
}

section.aside-mobile {
  border: 0;
  font-family: var(--font-family-nimbus_sans-regular);
  font-size: var(--font-size-m);
  line-height: 1.5;
  font-weight: 100;
  text-align: right;
  max-width: 45vw;
  margin: 40vh 3vh 5vh auto;
}

section.about {
  border: 0;
  margin-top: 10%;
  margin-bottom: 30%;
}

section.links {
  border: 0;
  justify-content: space-evenly;
  margin-top: 40%;
  margin-bottom: 30%;
}

.button {
  cursor: pointer;
  display: flex;
  outline: none;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  padding: 0.6em 2em;
  background-color: #3b3a3a;
  border-radius: 5px;
  border: 1px solid #cccaca8f;
  border-radius: 5px;
  border: 1px solid #1DA4B8;
  background: rgba(217, 217, 217, 0.09);
  user-select: none;
  touch-action: manipulation;
  transition: background-color 0.2s ease-in-out;
  margin-top: 1rem;
}

.button:hover {
  background-color: var(--black);
}

.single-event {
  padding-bottom: 1rem;
}

.event-date {
  font-size: var(--font-size-m);
  padding-bottom: 0.25rem;
}

.event-description {
  font-size: var(--font-size-s);
}

.posters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: .2rem;
  height: auto;
  width: 100%;

  img {
    display: flex;
    max-width: 25vw;
  }
}

/* All marquee CSS */

/* This is the spacer?
.spacer {
  height: 100px;
} */

.marquee {
  background: transparent;
  font-family: var(--font-family-nimbus_sans_extd-bold);
  color: rgba(var(--celeste), 0.5);
  padding: 30px 0;
  font-weight: 600;
  font-size: var(--font-size-xxxl);
  overflow: hidden;
  max-width: 98%;
  border: 0;
}

.marquee_inner {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
}

.marquee_part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
}

/* Back to standard css */

.section-logo img {
  min-width: 156px;
}

.about-body {
  font-size: var(--font-size-m);
  line-height: 1.5;
  margin-top: 2rem;

  b {
    font-weight: 900;
    display: block;
    padding-top: 2rem;
  }
}

.links {
  ol {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
  }

  li {
    border-bottom: 3px solid white;
    padding: 1rem 0 0.9rem;

    a {
      color: var(--white);
      font-size: var(--font-size-m);
      transition: letter-spacing 0.15s ease-in-out;
    }
  }

  li:first-of-type {
    border-top: 3px solid white;
  }

  li:hover {
    a {
      letter-spacing: 0.1em;
    }
  }
}

footer {
  display: flex;
  padding: 2em;
  margin: 0 1rem;
  justify-content: space-between;
  bottom: 0;
  width: 98%;
}

.blob-bg {
  position: absolute;
  z-index: -1;
}

.blob-bg.small {
  top: 10vh;
  right: -20%;
  animation: blobSpin 100s linear infinite;
}

@keyframes blobSpin {
  100% {
    -webkit-transform: rotate(360deg); transform: rotate(360deg);
  }
}

.blob-bg.big {
  top: 30vh;
  left: -30%;
  opacity: 0.6;
  overflow: clip;

  img {
    max-height: 230vh;
  }
}

#heroVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  border: 0;
  z-index: 1;
  position: inherit;
  pointer-events: none;
}

.landing-logo {
  padding-bottom: 1rem;

  img {
    width: 60vw;
    height: auto;
  }
}

canvas {
  display: none;
}

/* All screens 800px and above */
@media screen and (min-width: 800px) {
  header{
    margin: 0;
    padding-top: 1rem 10rem;


    .a {
      padding-top: .2rem;
    }
  }

  footer {
    margin: 0 1.2rem;
  }

  canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: auto !important;
  }

  section {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  section.aside-mobile {
    display: none;
  }

  section.title {
    border: 0;
    display: block;
    margin: unset;
    margin-top: 7%;
    margin-left: 7%;
    width: fit-content;
    text-align: right;


    .title-heading {
      display: block;
      font-size: var(--font-size-xxxl);
      font-weight: 900;
      font-family: var(--font-family-nimbus_sans-bold);
      font-style: normal;
      margin: 3rem 0 0 3.5rem;
      letter-spacing: -10px;
      line-height: 180px;
    }

    .title-body {
      max-width: 400px;
      display: flex;
      margin-left: auto;
      margin-top: 1rem;
    }
  }

  .hero-copy p {
    font-size: 2vh;
    font-family: var(--font-family-nimbus_sans-bold);
    color: var(--celeste);
    margin: 0.5em 0;
  }

  /* #heroVideo {
    position: fixed;
    align-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 10vh;
  } */


  .video-element {
    display: block;
    width: 100%;
    height: auto;
  }

  .button-group {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
    width: fit-content;
    margin-top: 1rem;
  }

  section.aside-desktop {
    border: 0;
    margin-top: 0;
    margin-left: 3.5rem;
  }

  section.upcoming {
    border: 0;
    margin-top: 15%;
    margin-bottom: 30%;
  }

  section.about {
    padding-bottom: 0;
  }

img.bash-poster-gif-2{
  animation-delay: 1.2;
}

  .single-event.desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid;
      align-items: center;
      border-image-slice: 1;
      border-width: 1px;
      border-left: 0;
      border-right: 0;
      border-image-source: linear-gradient(to left, transparent, rgba( 255,255,255,0.3 ), transparent);
      height: 60px;
      padding: 0 1rem 0;
      border-radius: 5px;
      background-color: transparent;
      transition: background-color 0.2s ease-in-out;
  }

  .single-event.desktop .event-date {
    padding-bottom: 0;
  }

  .single-event.desktop:hover {
    background-color: rgba(var(black), 0.5);

  }

  .single-event.desktop .button {
    margin-top: 0;
  }



  .blob-bg.big {
    left: 50%;
    transform: translate(-50%, 0);

    img {
      max-height: 280vh;
    }
  }

  .container {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }

  .site-content {
    /*position: absolute;
    z-index: -1;
    overflow: hidden;*/
    position: fixed;
    align-items: center;
    align-content: center;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }



  /* background-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
  } */

  .darkend-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.543);
    /* Darken effect */
    pointer-events: none;
    /* Allow interaction with video underlay */
  }

/* All CSS for hover animations codio */

.items {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  margin-top: 0;
}

.item {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.item-img {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0) sepia(0) brightness(1);
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.item-copy {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  font-family: var(--celeste);
}

.item-copy > div {
  flex: 1;
  display: flex;
  align-items: center;
  font-family: var(--font-family-nimbus_sans-bold);
}

#item-1 .item-copy-2 {
  justify-content: flex-end;
}

#item-2 .item-copy-1 {
  justify-content: flex-end;
}

.shape {
  width: 175px;
  height: 175px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  color: #fff;
  font-size: 12px;
  padding: 10px;
  opacity: 0;
  transform: scale(0.75);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#item-1 .shape {
  clip-path: polygon(
    0% 0px,
    0px 0%,
    calc(100% - 50px) 0px,
    100% 50px,
    100% 100%,
    calc(100% - 0px) 100%,
    50px 100%,
    0px calc(100% - 50px)
  );
}

#item-2 .shape {
  clip-path: polygon(
    50px 0px,
    0px 50px,
    0px 100%,
    calc(100% - 50px) 100%,
    100% calc(100% - 50px),
    100% 100%,
    100% 0%,
    0px 0%
  );
}

.shape {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family-nimbus_sans-bold);
}

.shape #number {
  font-family: "Orbitron";
  font-size: 50px;
  font-weight: 400;
  font-family: var(--font-family-nimbus_sans-bold);
}

.text-right {
  text-align: right;
  font-family: var(--font-family-nimbus_sans-bold);
}

.item:hover img {
  transform: scale(1.5);
  filter: grayscale(0.5) sepia(0.75) brightness(0.75);
}

.item:hover .shape {
  opacity: 1;
  transform: scale(1);
}



}


/* All screens 1200px and above */
@media screen and (min-width: 1300px) {
  .posters {
    column-gap: 2rem;
  }
}
